.main {
  display: flex;
  height: 100vh;
  gap: 3rem;
  padding-top: 6rem;
  position: relative;
  z-index: 200;
}
.main_section {
  display: none;
}
@media (min-width: 720px) {
  .main_section {
    display: block;
    width: 100%;
    max-width: 18.75rem;
    height: 100%;
  }
}
