.tryapp {
  width: 100%;
  max-width: 1200px;
  display: grid;
  margin-top: 7rem;
  padding: 5rem 2rem;
  justify-content: center;
  align-items: center;
}
.tryapp_title {
  padding: 0 2rem;
  max-width: 50rem;
  font: normal normal 900 1.5rem/2rem var(--font-primary);
  color: var(--black-100);
  text-align: center;
}
.tryapp_text {
  font: normal normal 400 0.8rem/1rem var(--font-primary);
  color: var(--black-70);
  text-align: center;
  margin-top: 2rem;
  padding: 0 2rem;
  max-width: 50rem;
}
.tryapp_cards {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: space-between;
}
.tryapp_card {
  display: grid;
  padding: 1rem 2rem;
  max-width: 15rem;
  width: 100%;
  border-radius: 1rem;
}
.tryapp_card img {
  width: 5rem;
  height: auto;
}
.tryapp_card h3 {
  font: normal normal 600 1rem/1.2rem var(--font-primary);
}
.tryapp_card ul {
  display: grid;
}

@media (min-width: 720px) {
  .tryapp_title {
    font: normal normal 900 2.5rem/3rem var(--font-primary);
  }
  .tryapp_text {
    font: normal normal 400 1.2rem/1.5rem var(--font-primary);
  }
}
