.tryapp {
  width: 100%;
  max-width: 1200px;
  display: grid;
  margin-top: 7rem;
  padding: 5rem 2rem;
  justify-content: center;
  align-items: center;
}
.tryapp_cards {
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-content: center;
  margin: 7rem 0;
  flex-direction: column;
}

@media (min-width: 920px) {
  .tryapp_cards {
    flex-direction: row;
  }
}
