.image_responsive {
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.3s;
}

.image_responsive {
  width: 145px !important;
  height: 313px !important;
}
