.section {
  margin: 10rem 0;
  padding: 5rem 2rem;
  width: 100%;
  max-width: 1200px;
  display: grid;
  place-items: center;
  position: relative;
}
.section_title {
  letter-spacing: 0.05em;
  font: normal normal 900 2.5rem/3rem var(--font-primary);
  color: var(--black-100);
  text-align: center;
  text-transform: uppercase;
}
.section_text {
  font: normal normal 400 0.8rem/1rem var(--font-primary);
  color: var(--black-70);
  text-align: center;
  margin-top: 2rem;
  max-width: 32rem;
  width: 100%;
}
.section_title_just {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font: normal normal 900 2.5rem/3rem var(--font-primary);
  color: var(--blue);
  text-decoration: underline;
}
.section_button {
  background-color: var(--blue);
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  font: normal normal 700 0.8rem/1.2rem var(--font-primary);
  color: var(--white);
  border: none;
  padding: 0.7rem 3rem;
  border-radius: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
}
.section_button svg {
  scale: 0.9;
}
.section_button:hover {
  background-color: var(--blue-strong);
}
@media (min-width: 460px) {
  .section_button {
    font: normal normal 700 1rem/1.2rem var(--font-primary);
    padding: 0.7rem 2.5rem;
  }
  .section_button svg {
    scale: 1;
  }
}
@media (min-width: 720px) {
  .section_title {
    font: normal normal 900 4rem/5rem var(--font-primary);
  }
  .section_title_just {
    font: normal normal 900 4rem/5rem var(--font-primary);
  }
  .section_text {
    font: normal normal 400 1rem/1.5rem var(--font-primary);
  }
}
