.no_there {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto auto;
  display: grid;
  place-items: center;
  height: fit-content;
}
.no_there_title {
  font: normal normal 700 1.2rem/1.25rem var(--font-primary);
  color: var(--black-100);
  margin-top: 1rem;
}
.no_there_text {
  font: normal normal 400 1rem/1.1rem var(--font-primary);
  color: var(--black-50);
  margin-top: 0.8rem;
  max-width: 21.875rem;
  width: 100%;
  text-align: center;
}
