.box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scale: 0.8;
  position: relative;
}
.box_icons {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 23.625rem;
  right: -15px;
}
.box_icons_icon {
  position: relative;
  animation-name: iconFloat;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@media (min-width: 720px) {
  .box {
    scale: 1;
  }
}
@keyframes iconFloat {
  0% {
    scale: 0.8;
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    scale: 1.2;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  100% {
    scale: 0.8;
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}
