.screen_two {
  background: rgba(54, 61, 79, 0.02);
  box-shadow: 0px 4px 5px 3px rgba(0, 0, 0, 0.05);
  border-radius: 40px 40px 0px 0px;
  width: 100%;
  position: relative;
  height: 100%;
  overflow: auto;
  flex: 1;
}
