.section {
  width: 100%;
  max-width: 1200px;
  display: grid;
  place-items: center;
  margin-top: 5rem;
}
.section_title {
  font: normal normal 900 1.5rem/2rem var(--font-primary);
  color: var(--black-100);
  text-align: center;
  padding: 0 2rem;
  max-width: 50rem;
}
.section_text {
  font: normal normal 400 0.8rem/1rem var(--font-primary);
  color: var(--black-70);
  text-align: center;
  margin-top: 2rem;
  padding: 0 2rem;
  max-width: 50rem;
}
.section_box {
  width: 100%;
  overflow: hidden;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
  transition: 0.3s;
}
.section_box div {
  display: flex;
  width: 100%;
  transition: 0.3s;
}

@media (min-width: 1024px) {
  .section_box {
    gap: 2rem;
  }
  .section_box div {
    gap: 2rem;
  }
}
@media (min-width: 720px) {
  .section_text {
    font: normal normal 400 1.2rem/1.5rem var(--font-primary);
  }
  .section_title {
    font: normal normal 900 2.5rem/3rem var(--font-primary);
  }
  .section_box{
    overflow: unset;
  }
}
@media (min-width: 630px) {
  .section_box div {
    justify-content: center;
    align-items: center;
  }
}
