.card {
  width: 100%;
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--black-10)
}
.card_title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card h6 {
  font: normal normal 700 1.1rem/1.5rem var(--font-primary);
  color: var(--black-100);
}
.card button {
  border: none;
  border-radius: 3rem;
  display: flex;
  place-items: center;
  background-color: transparent;
  transition: 0.3s;
}
.card div {
  width: 100%;
}
.card svg {
  stroke: var(--blue);
}
.card p {
  height: auto;
  font: normal normal 400 1rem/1.5rem var(--font-primary);
  color: var(--black-70);
  text-align: left;
  margin-top: 1rem;
  overflow: hidden;
}
.--active{
  rotate: 180deg;
}
