.habit {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.habit_info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.habit_info_icon {
  display: grid;
  place-items: center;
  margin-right: 2rem;
}
.habit_info_icon_div {
  padding: 0.2rem;
  display: grid;
  place-items: center;
  color: var(--white);
  background: #7ac4ed;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 30px #7ac4ed;
}
.habit_info_detail {
  display: grid;
  gap: 0.3rem;
}
.habit_info_detail_title {
  font: normal normal 600 1rem/1.2rem var(--font-primary);
  color: var(--black-100);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}
.habit_info_detail_text {
  text-transform: uppercase;
  font: normal normal 400 0.8rem/1.2rem var(--font-primary);
  color: var(--black-50);
}
.habit_details {
  display: grid;
  gap: 0.3rem;
}
.habit_details_title {
  font: normal normal 600 0.9rem/1.2rem var(--font-primary);
  color: var(--black-100);
}
.habit_details_text {
  font: normal normal 400 0.8rem/1.2rem var(--font-primary);
  color: var(--black-50);
}
.habit_button {
  display: grid;
  place-items: center;
  border: none;
  color: var(--black-100);
  background: transparent;
  border-radius: 2rem;
  padding: 0.3rem;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.habit_button:hover {
  background: var(--gray-100);
}
