.section {
  margin-top: 5rem;
  background-color: var(--black-10);
  width: 100%;
  padding: 5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_bg {
  width: 100%;
  max-width: 1200px;
  display: grid;
  place-items: center;
}
.section_title {
  padding: 0 2rem;
  max-width: 50rem;
  font: normal normal 900 1.5rem/2rem var(--font-primary);
  color: var(--black-100);
  text-align: center;
}
.section_text {
  font: normal normal 400 0.8rem/1rem var(--font-primary);
  color: var(--black-70);
  text-align: center;
  margin-top: 2rem;

  padding: 0 2rem;
  max-width: 50rem;
}
@media (min-width: 720px) {
  .section_title {
    font: normal normal 900 2.5rem/3rem var(--font-primary);
  }
  .section_text {
    font: normal normal 400 1.2rem/1.5rem var(--font-primary);
  }
}
