/* import */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('./styles/reset.css');

:root{
  --black-100: #363D4F;
  --blue: #4B7EFF;
  --black-50: #9A9EA7;
  --black-70: #727784;
  --black-10: #F9F9F9;
  --blue-5: #F0F3F9;


  /* app */
  --font-primary: 'Nunito Sans', sans-serif;;

}