.card{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, 9.375rem);
  gap: 9rem;
  place-items: center;
  place-content: center;
  margin-top: 6rem;
}
.card_dev{
  display: grid;
  position: relative;
  overflow: hidden;
  place-content: center;
  place-items: center;
}
.card_dev_image{
  border-radius: 15rem;
  max-width: 9.375rem;
  height: auto;
  object-fit: cover;
}
.card_dev_name{
  font: normal normal 700 1rem/1.2rem var(--font-primary);
  color: var(--black-100);
  text-align: center;
  margin-top: 1.5rem;
}
.card_dev_job{
  font: normal normal 400 0.8rem/1rem var(--font-primary);
  color: var(--black-70);
  text-align: center;
  margin-top: 0.5rem;
}
.card_dev_buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1.5rem;
}